.side-panel {
    height: 100%;
    width: 224px;
    .side-logo{
        width: 224px;
        height: 150px;
        background: url('../../assets/profile.png') no-repeat center center;
        background-size: 100px 100px;
        background-color: #bbb;
    }
    .menu-button {
        margin-bottom: 16px;
    }
   
}